<div class="container">
    <div class="row"></div>
        <div class="col-md-6 offset-md-3">
            <div class="card mt-5">
                <div class="card-body">
                    <h1 class="card-title">Unauthorized</h1>
                    <p class="card-text">You are not allowed to perform this action.</p>
                    <p class="card-text">Please contact the administrator for further assistance.</p>
                </div>
            </div>
        </div>
    </div>
</div>